.page {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}
.top,
.regular {
  display: block;
  flex: 0 1 auto;
  width: calc(50% - 16px);
  margin: 16px 8px;
  background-color: #263238;
}

@media only screen and (max-width: 500px) {
  .top,
  .regular {
    flex: 1 1 auto;
    width: 100%;
  }
}
@media only screen and (min-width: 950px) {
  .top {
    flex: 0 1 auto;
    width: calc(100% / 3 - 16px);
  }
  .regular {
    flex: 1 1 auto;
    width: calc(25% - 1rem * 3);
  }
}
