.nav {
  margin: 0 32px;
}
.list {
  display: flex;
}
.link {
  display: block;
  height: 100%;
  padding: 24px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  border-bottom: 4px solid transparent;
  cursor: pointer;
  transition: all 0.3s linear;
}
